@import './partials/mixins';
@import './partials/typography';
// @import './partials/nav';
// @import './partials/browse';
// @import './partials/history';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}
