@import './partials/mixins';
@import './partials/typography';
@import './partials/variables';
@import './partials/nav';
@import './partials/sidebar';
@import './partials/browser';
@import './partials/history';
@import './partials/browsermodal';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}
